<html>

	<head>
		<title>Aplica&ccedil;&atilde;o de Teste</title>
		<link type="text/css" rel="stylesheet" href="/static/estilo.css" />
		<script language="JavaScript" type="text/javascript" src="/static/validacao.js"></script>
	</head>

	<body>
		<h1>Aplica&ccedil;&atilde;o de Teste</h1>
		<!-- MENU PRINCIPAL -->
		<a href="/inicio">In&iacute;cio</a> |
		<a href="/categoria/listar">Categorias</a> |
		<a href="/coisa/listar">Coisas</a>
		<!-- ---------- -->
		<hr width="100%" size="1">

		{% block content %}{% endblock %}

	</body>

</html>
