{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h2>Reading my life - Sobre</h2>
	<div class="span6 well">
		<h2 class="muted">Silver</h2>
		<p><span class="label">Texto inicial</span></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<hr/>
			<p><a class="btn btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Select plan</a></p>
		</div>
		<div class="span3 well">
			<h2 class="text-warning">Vídeo explicando a aplicação</h2>
			<img src="/static/img/home/image-video-example.jpg" />
		</div>
	</div>
	<hr/>

	<div class="container">
		<h2>Por onde começar?</h2>
		<div class="span3 well">
			<h2 class="muted">Histórico de links</h2>
			<p><span class="label">POPULAR</span></p>
			<img src="/static/img/home/image-grafos.jpg" />
			<hr/>
			<ul>
				<li>20 users</li>
				<li>Unlimited access with no limits</li>
				<li>5TB of space</li>
			</ul>
			<a class="btn btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Saiba +</a></p>
		</div>
		<div class="span3 well">
			<h2 class="text-warning">Conteúdo relevante</h2>
			<p><span class="label label-success">POPULAR</span></p>
			<img src="/static/img/home/image-top-trends.png" />
			<hr/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
			<p><a class="btn btn-success btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Saiba +</a></p>
		</div>

		<div class="span3 well">
			<h2 class="text-info">Por minha localização</h2>
			<img src="/static/img/home/image-geo-localizacao.jpg" />
			<hr/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
			<p><a class="btn btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Saiba +</a></p>
		</div>
	</div>
	<hr/>

	<div class="container">
		<h2>Pronto para socializar?</h2>
		<div class="span3 well">
			<h2 class="muted">Facebook</h2>
			<p><span class="label">POPULAR</span></p>
			<ul>
				<li>20 users</li>
				<li>Unlimited access with no limits</li>
				<li>5TB of space</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
			<hr>
			<h3>$10.99 / month</h3>
			<hr>
			<p><a class="btn btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Saiba +</a></p>
		</div>
		<div class="span3 well">
			<h2 class="text-warning">Twitter</h2>
			<p><span class="label label-success">POPULAR</span></p>
			<ul>
				<li>20 users</li>
				<li>Unlimited access with no limits</li>
				<li>5TB of space</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
			<hr>
			<h3>$10.99 / month</h3>
			<hr>
			<p><a class="btn btn-success btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Saiba +</a></p>
		</div>

		<div class="span3 well">
			<h2 class="text-info">Google +</h2>
			<p><span class="label label-info">BUDGET</span></p>
			<ul>
				<li>20 users</li>
				<li>Unlimited access with no limits</li>
				<li>5TB of space</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
			<hr>
			<h3>$10.99 / month</h3>
			<hr>
			<p><a class="btn btn-large" href="javascript:void(0);"><i class="icon-ok"></i> Saiba +</a></p>
		</div>
	</div>
</div>
{% endblock content %}