
{% extends 'base.html' %}
{% block content %}
<h1>Reading my life - Página inicial</h1>
<div class="well">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#links" data-toggle="tab">Links</a></li>
		<li><a href="#trends" data-toggle="tab">Trends</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active in" id="links">
			<div class="row">
				<div class="span7">
					<h4><a href="#">Lesson 1</a></h4>
					<p>Overview of the course, prerequisites, instructor contact information, syllabus, location information</p>
				</div>
				<div class="span3">
					Visualizações: <span class="pull-right strong">36 visualiza&ccedil;&otilde;es</span>
					<div class="progress">
						<div class="bar" style="width: 36%;"></div>
					</div>
				</div>


				<p class="span8">Tags:
					<a href="#"><span class="label label-info">Snipp</span></a>
					<a href="#"><span class="label label-info">Bootstrap</span></a>
					<a href="#"><span class="label label-info">UI</span></a>
					<a href="#"><span class="label label-info">growth</span></a>
					| <i class="icon-user"></i> <a href="#">Admin</a>
					| <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm
					| <i class="icon-comment"></i> <a href="#">3 Comments</a>
					| <i class="icon-share"></i> <a href="#">39 Shares</a>
				</p>

			</div>

			<hr>

			<div class="row">
				<div class="span7">
					<h4><a href="#">Lesson 2</a></h4>
					<p>Details about world history, geography of the ancient world, literature and resources</p>
				</div>
				<div class="span3">
					Visualizações: <span class="pull-right strong">10 visualiza&ccedil;&otilde;es</span>
					<div class="progress">
						<div class="bar" style="width: 10%;"></div>
					</div>
				</div>

				<p class="span9">Tags:
					<a href="#"><span class="label label-info">Snipp</span></a>
					<a href="#"><span class="label label-info">Bootstrap</span></a>
					<a href="#"><span class="label label-info">UI</span></a>
					<a href="#"><span class="label label-info">growth</span></a>
					| <i class="icon-user"></i> <a href="#">Admin</a>
					| <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm
					| <i class="icon-comment"></i> <a href="#">3 Comments</a>
					| <i class="icon-share"></i> <a href="#">39 Shares</a>
				</p>

			</div>

			<hr>

			<div class="row">
				<div class="span7">
					<h4><a href="#">Lesson 3</a></h4>
					<p>Pop quiz on the material learned so far, reading of Socrates and watching a movie "Ancient Greece".</p>
				</div>
				<div class="span3">
					Visualizações: <span class="pull-right strong">0 visualiza&ccedil;&otilde;es</span>
					<div class="progress">
						<div class="bar" style="width: 0%;"></div>
					</div>
				</div>


				<p class="span8">Tags:
					<a href="#"><span class="label label-info">Snipp</span></a>
					<a href="#"><span class="label label-info">Bootstrap</span></a>
					<a href="#"><span class="label label-info">UI</span></a>
					<a href="#"><span class="label label-info">growth</span></a>
					| <i class="icon-user"></i> <a href="#">Admin</a>
					| <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm
					| <i class="icon-comment"></i> <a href="#">3 Comments</a>
					| <i class="icon-share"></i> <a href="#">39 Shares</a>
				</p>
			</div>
			<hr>
		</div>
		<div class="tab-pane fade" id="trends">
			<div class="span9">
				<h5>Trends: Conte&uacute;dos mais visualizados</h5>
				<strong>Tecnologia</strong><span class="pull-right">30 visualiza&ccedil;&otilde;es</span>
				<div class="progress progress-danger active">
					<div class="bar" style="width: 30%;"></div>
				</div>
				<strong>Antropologia</strong><span class="pull-right">40 visualiza&ccedil;&otilde;es</span>
				<div class="progress progress-info active">
					<div class="bar" style="width: 40%;"></div>
				</div>
				<strong>Atualidades</strong><span class="pull-right">10 visualiza&ccedil;&otilde;es</span>
				<div class="progress progress-striped active">
					<div class="bar" style="width: 10%;"></div>
				</div>
				<strong>Educação</strong><span class="pull-right">5 visualiza&ccedil;&otilde;es</span>
				<div class="progress progress-success active">
					<div class="bar" style="width: 5%;"></div>
				</div>
				<strong>Literatura</strong><span class="pull-right">15 visualiza&ccedil;&otilde;es</span>
				<div class="progress progress-warning active">
					<div class="bar" style="width: 15%;"></div>
				</div>
				<p>
					<a href="#" class="btn btn-large btn-success pull-right">Veja outros resultados</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}