{% extends 'base.html' %}
{% block content %}

<div class="row-fluid">

  <div class="span8">

    errors: >{{ errors }}< <br>
    fields: >{{ fields }}<

  </div>

  <div class="span4">

    <form class="form-signin" method="post" action="/landing">
      <b>Already a user?</b>
      <input type="text" name="username" placeholder="Username or e-mail">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="submit" value="Log In">
      <br><br>
      <a href="/pwdrecover">Forgot your password?</a>
      <br><br><br>

      <b>Want to join?</b>
      <br>
      <input type="text" name="newusername" placeholder="Username">
      <br>
      <input type="text" name="newemail" placeholder="E-mail">
      <br>
      <input type="password" name="newpassword" placeholder="Password">
      <br>
      <input type="password" name="newconfirm" placeholder="Confirm password">
      <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>
{% endblock content %}