<html>

	<head>
		<title>Bookmarks</title>
	</head>

	<body>
		<h1>Bookmarks</h1>
		<!-- ---------- -->
		<hr width="100%" size="1">

		<form method="post" action="/login">
			Username or e-mail:
			<input type="text" name="username">
			<br>
			Password:
			<input type="password" name="password">
			<br>
			<input type="submit" value="Sign In">
			<br>
			<a href="/password">Forgot your password?</a>
			<br><br><br>

			Want to join?
			<br>
			Username:
			<input type="text" name="newusername">
			<br>
			E-mail:
			<input type="text" name="newemail">
			<br>
			Password:
			<input type="password" name="newpassword">
			<br>
			<input type="submit" value="Sign Up">
		</form>
	</body>

</html>

